
.header,.first-row{
    font-family: 'Roboto';font-size: 22px;
    background-color:#1f2937;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo,.header-links,.main-title{
    margin-left:100px;
    margin-right: 100px;
    gap:10px;
}
ul{
    list-style-type: none;
    display: flex;
    font-size: 12px;
}
.first-row-left{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
}
