body{
    font-family: "Roboto";
}
.header {
  
  font-size: 22px;
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

li{
    padding-left: 15px;
}
.main-title{
    font-size:48px;
    align-self: flex-start;
    
}
.first-row {
  
  font-size: 22px;
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.first-row-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
}

.sign-up-button-top {
  background-color: #3882f6;
  padding: 5px 15px;
  color: white;
  border-radius: 10%;
  align-self: flex-start;
}

ul {
  list-style-type: none;
  display: flex;
  font-size: 12px;
}
.second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:100px;
}
.four-boxes {
  display: flex;
}
.box.type {
  display: flex;
  justify-content: center;
}
.box {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 5px;
  border-color: #3882f6;

  
}
.some-info{
    font-size: 26px;
    font-weight:900
}

.third-row {
  padding: 100px;
  background-color: #E5E7EB;
}
.thor-quote{
    font-size: 36px;
    font-weight: 300;
    color:#1F2937;
    
    font-style: italic;
}
.quoter-name{
    font-weight: 900;
    font:bold;
    display: flex;
    
    justify-content: flex-end;
}

.fourth-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  flex: auto;
  margin: 50px 100px;
  background-color: #3882f6;
  border-radius: 2%;
  color: white;
}
.call-to-action {
  font-size: 36px;
  font-weight: 900;
}
.sign-up-button-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  height: 30px;
  padding: 0 20px;
  color: white;
  border-radius: 10%;
  border-width: 1px;
  border-color: white;
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 20px;
  color: white;
}
