
.header,.first-row{
    font-family: 'Roboto';font-size: 22px;
    background-color:#1f2937;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* this is for setting the margin left */
.l-margin{   
    margin-left:100px;
    gap:10px;
}
/* this is for setting the margin right */
.r-margin{
    margin-right: 100px;
    gap:10px;
}
ul{
    list-style-type: none;
    display: flex;
    font-size: 12px;
}
button{
    
}
.first-row-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.sign-up-button-top{
    background-color: #3882F6;
    padding:5px 15px;
    color: white;
    border-radius: 10%;
}
.sign-up-button-bottom{
    background-color: #3882F6;
    padding:5px 15px;
    color: white;
    border-radius: 10%;
    border-color: white;
}